.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bi-linkedin {
  color: blue !important;
  font-size: 10rem !important;
  width: 10rem;
}
.me-2 {
  border: none !important;
  width: 20rem !important;
}
.search-me {
  border: 1px solid black;
  border-radius: 8px;
  min-height: 15px !important;
}
.search-me:focus {
  border: 1px solid rgb(8, 8, 8) !important;
  border-radius: 8px;
}

.profile-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 40% !important;
}
.profile-views {
  font-size: 0.8rem;
  color: black;
}
.profil-premium-info {
  font-size: 12px;
}
.try-premium {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.my-items {
  font-weight: bold;
}
.top-profile-section {
  border: 1px solid rgb(216, 205, 205);
  height: fit-content;
  border-radius: 10px;
}
a {
  color: black !important;
}
.search-results {
  position: relative;
  max-height: 85vh;
  max-width: 30vw !important;
  border-radius: 8px;
  border: 1px solid rgb(255, 251, 251);
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-results::after {
  content: "";
  position: absolute;
  /* height: 85vh !important;
  width: 30vw !important; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(237, 234, 234);
  z-index: -1;
}

.nav-arrange {
  display: flex;
  align-items: flex-start !important;
}
.search-profiles {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  display: flex;
}
.search-profile {
  font-size: 12px;
}
.my-navBar {
  position: fixed !important;
  top: 0;
  z-index: 1 !important;
  background-color: transparent !important;
}

img[alt] {
  font-size: 8px;
}
input[type="search"]:focus {
  /* border: none !important; */
  border-color: rgba(28, 29, 28, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.1);
  outline: 0 none;
}
.fix-width {
  width: 40vw !important;
}
.title {
  display: block;
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.user-profile-picture {
  width: 8rem;
  height: 8rem;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: 40rem !important;
  transform: translateY(2rem);
}
.user-profile-picture2 {
  width: 8rem;
  height: 8rem;
  border: 3px solid white;
  border-radius: 50%;
}
.followers {
  font-size: 0.75rem !important;
}
.message-user {
  background-color: blue;
  color: white;
  width: fit-content;
  border-radius: 1rem;
}
.message-more {
  width: fit-content;
  border: 1px solid rgb(216, 205, 205);
  border-radius: 1rem;
}
.position-image {
  position: relative;
}
.record-online {
  position: absolute;
  bottom: -6rem;
  left: 5.75rem;
  border: 2px solid white;
  border-radius: 50%;
}
/* body {
  background-color: beige !important;
} */
.back-ground {
  background-color: white;
}
.post-section {
  border: 1px solid rgb(222, 212, 212);
  border-radius: 10px;
}
.post-btn {
  border-radius: 30px !important;
  height: 3rem;
}
.post-btn:hover {
  background-color: white !important;
  color: black !important;
}
.article {
  color: orangered !important;
}
.add-more-section {
  border-color: blue;
  color: blue;
}
.edit-pencil {
  position: absolute;
  right: 2rem;
  top: 10rem;
}
.gray-out {
  color: gray;
  font-weight: lighter;
}
.expirence-border {
  border: 1 solid rgb(216, 205, 205) !important;
}
.edit-intro {
  position: relative;
}
.save-btn {
  position: relative;
  z-index: 1 !important;
  bottom: 0;
  left: 90%;
}

.div-save-btn {
  display: block;
  background-color: white !important;
  width: 100%;
  height: 5vh;
  z-index: 1;
}

.home-page {
  margin-top: 10rem !important;
}
.dropdown-toggle::after {
  content: none !important;
}
.space-search {
  display: flex;
  justify-content: flex-end !important;
}

.modal-dialog {
  min-height: 85vh !important;
}
.add-to-profile-link {
  text-decoration: none !important;
}
.create-post-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.post-image {
  object-fit: cover !important;
  height: min-content;

  height: 70vh;
}
.my-btn {
  border: none;
  background-color: white;
  font-size: 1em;
  color: gray;
}
.primary {
  border-radius: 20px;
  border-color: blue;
  color: blue;
}
.secondary {
  border: none;
  color: rgb(91, 91, 96);
  background-color: transparent;
}
input[type="radio"] {
  transform: scale(1.5);
}
.btn-success {
  color: black !important;
  background-color: white !important;
  border: none !important;
}
.btn-success.dropdown-toggle:focus {
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
.btn:hover {
  background-color: white !important;
  color: blue !important;
}
.remove-text-deco:hover {
  text-decoration: none !important;
}
.profile-picture-side {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
.comment-input {
  border-radius: 20px;
}
.school-logo {
  width: 3rem;
  object-fit: cover;
}
.linkedinlogo {
  width: 8rem;
}
.edit-profile-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.reccomentations {
  padding: 2px 8px;
  font-size: 14px;
  width: 204px;
  height: 24px;
  background: transparent;
  color: gray;
}

.reccomentations:hover {
  background: lightgray;
}
